body{
	font-family: sans-serif;
	color: #666;
}
.caja{
	background-color: #2E9AFE;
}

header{
	text-align: center;
}

.back{
	background-image: url(http://lorempixel.com/1024/600/cats/);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.back .container{
	background-color: rgba(255,255,255, 0.5);
	position: relative;
	height: 100vh;
}

.texto{
	position: absolute;
	font-family: 'Barrio', cursive;
	top: 25%;
	left: 25%;
	color: #29088A;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	width: 50%;
	height: 50%;
	font-size: 35px;
	font-weight: bolder;
}

.botones {
	text-decoration: none;
	background-color: #2E9AFE;
	color: white;
	text-align: center;
	width: 100px;
	height: 40px;
	margin-top: 20px;
	padding-top: 10px;
	border-radius: 5px;
}

.boton {
	text-decoration: none;
	background-color: #29088A;
	color: white;
	text-align: center;
	width: 100px;
	height: 40px;
	margin-top: 20px;
	padding-top: 10px;
	border-radius: 5px;
}

.boton, ._01 {
	float: right;
}

._02 {
	float: left;
}

.parrafo {
	text-align: justify;
}